@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 color="red">Страница не найдена</h2>
<p>
    Вы пытаетесь удалить или изменить несуществующий объект.
</p>